<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.dlu.bysj.defense.mapper.DefenceRecordMapper">
    <resultMap id="similarTeamMap" type="edu.dlu.bysj.base.model.vo.SimilarTeamStudentVo">
        <id column="id" property="subjectId"/>
        <result column="subject_name" property="subjectName"/>
        <result column="teacherName" property="firstName"/>
        <result column="titlename" property="title"/>
        <result column="studentName" property="studentName"/>
        <result column="phone" property="studentPhone"/>
        <result column="number" property="studentNumber"/>
        <result column="content" property="progress"/>
    </resultMap>

    <select id="studentInfoOfGroup" resultMap="similarTeamMap">
        select
            subject.id,
            subject.subject_name,
            teacher.name as teachername,
            teacher_title.name as titlename,
            s.name as studentname,
            s.phone_number as phone,
            s.student_number as number,
            progress.content
        from
            (select
                 student.id,
                 student.student_number,
                 student.phone_number,
                 student.name,
                 student.subject_id
             from
                 student
             where student.status = 1
               and student.id in
                   (select
                        tuu.user_id
                    from
                        team_user tuu
                    where tuu.status = 1
                      and tuu.is_student = 1
                      and tuu.team_id in
                          (select
                               t.id
                           from
                               team t
                                   left join team_user tu
                                             on tu.team_id = t.id
                           where t.grade = #{grade}
                             and tu.user_id = #{userId}))) as s
                left join subject
                          on s.subject_id = subject.id
                left join teacher
                          on subject.first_teacher_id = teacher.id
                left join teacher_title
                          on teacher.id = teacher_title.id
                left join progress
                          on subject.progress_id = progress.id
        limit #{start}, #{pageSize}
    </select>

    <!--    统计组内学生个数即可，后面采用的是左连接保存左边部分-->
    <select id="totalInfoOfGroup" resultType="java.lang.Integer">
        select count(*)
        from (
             select
                 tuu.user_id
             from
                 team_user tuu
             where tuu.status = 1
               and tuu.is_student = 1
               and tuu.team_id in
                   (select
                        t.id
                    from
                        team t
                            left join team_user tu
                                      on tu.team_id = t.id
                    where t.grade = #{grade}
                      and tu.user_id = #{userId})
        ) s
    </select>
</mapper>
