<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.dlu.bysj.paper.mapper.EntrustMapper">

    <select id="selectByConsigneeIdAndDate" resultType="java.lang.Integer">
        select entrust.subject_id
        from entrust
        where entrust.status = 1
          and entrust.consignee_id = #{consigneeId}
          and YEAR(date) = #{year}
    </select>
</mapper>