<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.dlu.bysj.system.mapper.MajorMapper">
    <update id="updateFillNumber">
        update subject
        set subject.filing_number = #{fillNumber}
        where subject.id = #{subjectId}

    </update>


    <select id="selectMajorList" resultType="edu.dlu.bysj.base.model.vo.MajorVo">
        select major.id   as majorId,
               major.code as majorCode,
               major.name as majorName,
               major.status
        from major
        where major.status = 1
          and major.college_id = #{collegeId}
    </select>


    <select id="archiveNumber" resultType="java.lang.Integer">
        select s.subject_id
        from class
                 left join student s
                           on class.id = s.class_id
        where s.status = 1
          and s.major_id = #{majorId}
          and class.grade = #{grade}
        order by class.name, s.student_number
    </select>

    <select id="selectMajorInfoByCollegeId" resultType="edu.dlu.bysj.base.model.vo.MajorSimpleInfoVo">
        select major.id as majorId, major.name as majorName
        from major
        where major.status = 1
          and major.college_id = #{collegeId}
    </select>

    <select id="selectAllMajorOfCollege" resultType="java.util.Map">
        select major.id, major.name as majorName, college.name as collegeName, college.id as collegeId
        from major
                 inner join college on major.college_id = college.id
        where college.id = (select college_id from major where major.id = #{majorId})
    </select>
    <select id="obtainCollegeTeacher" resultType="edu.dlu.bysj.base.model.vo.UserVo">
        select teacher.id as userId, teacher.name as userName from teacher where major_id in (
            select id from major where college_id = #{collegeId}
        )
    </select>
    <select id="selectMajorNameByIds" resultType="java.lang.String">
        select name from major where id in
        <foreach collection="majorIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>


</mapper>