<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.dlu.bysj.paper.mapper.OpenReportMapper">
    <select id="getFileBaseInfoById" resultType="edu.dlu.bysj.document.entity.dto.OpenReportBaseInfo">
        select id,title, dir from file_infomation where id = (
            select file_id from open_report where subject_id = #{subjectId}
        )
    </select>
</mapper>