<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.dlu.bysj.system.mapper.TeacherRoleMapper">

    <select id="getAllRoleById" resultType="java.lang.Integer">
        select role.id
        from role
        where role.status = 1
          and role.id in (
            select teacher_role.role_id
            from teacher_role
            where teacher_role.teacher_id = #{teacherId} and teacher_role.status = 1
        )
    </select>

    <select id="getMangerList" resultType="edu.dlu.bysj.base.model.vo.AdminVo">
        select x.roleName      as roleName,
               x.roleId        as roleId,
               x.teacherId     as teacherId,
               x.teacherNumber as teacherNumber,
               x.teacherName   as teacherName,
               x.phone         as teacherPhone,
               x.email         as teacherEmail,
               major.name      as majorName
        from (select z.name                 as roleName,
                     z.id                   as roleId,
                     teacher.id             as teacherId,
                     teacher.teacher_number as teacherNumber,
                     teacher.phone_number   as phone,
                     teacher.email          as email,
                     teacher.major_id       as majoriId,
                     teacher.name           as teacherName
              from (select role.id, role.name, t.teacherId
                    from (select teacher_role.teacher_id as teacherId, teacher_role.role_id
                          from teacher_role
                          where teacher_role.role_id = #{roleId}
                            and teacher_role.status = 1) as t
                             inner join role
                                        on role.id = t.role_id) as z

                       inner join teacher
                                  on teacher.id = z.teacherId
              where teacher.status = 1) x
                 inner join major
                            on major.id = x.majoriId
        where major.id = #{majorId}
          and major.status = 1
    </select>

    <select id="getMajorAdminByCollegeId" resultType="edu.dlu.bysj.base.model.vo.AdminVo">
        # id -> college.majorId
        # 3 -> teacher_role.teacherId
        # teacherId and majorId -> teacher.other

        select tr.id as teacherId, m.id as majorId from college c
        left join teacher_role tr on tr.role_id = 3 and tr.status=1
        left join major m on c.id = m.college_id
        where c.id = #{collegeId}

#         select m.name as majorName,
#                m.id as majorId
#         from major m
#         inner join teacher_role on role_id = 3
#         where college_id=#{id}

#         select ttr.roleId,
#                ttr.roleName,
#                ttr.teacherId,
#                t.teacher_number  as teacherNumber,
#                t.name            as teacherName,
#                t.phone_number    as teacherPhone,
#                t.email           as teacherEmail,
#                m.name            as majorName
#         from (
#             select tr.role_id as roleId,
#             tr.teacher_id as teacherId,
#             r.name as roleName
#             from teacher_role tr
#             left join role r on r.id = tr.role_id
#             where role_id = 3
#         ) as ttr
#         inner join teacher t on t.id = ttr.teacherId
#         inner join major m on t.major_id = m.id
    </select>
</mapper>
